# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Pytest
.pytest_cache/

# Spark
.sparkStaging/
spark-warehouse/
metastore_db/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Credentials
*.json
!config/*.json

# Temporary files
*.tmp
*.temp